@{
    ViewData["Title"] = "Register Confirmation";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Please check your email to confirm your account. You must confirm your email before you can log in.
    </p>
</div>